
{% load static %}
<section class="inner-page-banner" style="background-image: url('{% static 'assets/images/bg/inner-page-banner.jpg' %}');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="inner-page-title text-white">Radio Jockey</h2>
            <ul class="page-breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li>Radio Jockey</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
