{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="site-body">
  <!-- page banner start -->
  <section class="inner-page-banner"
    style="background-image: url('{% static 'assets/images/bg/inner-page-banner.jpg' %}');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="inner-page-title text-white">Contact Us</h2>
          <ul class="page-breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- page banner end -->

  <!-- contact info section start -->
  <section class="pt-120 pb-120 section-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-top">
            <span class="top-title">Contact</span>
            <h2 class="section-title">Contact Info</h2>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="contact-item">
            <div class="top">
              <div class="icon">
                <img src="{% static 'assets/images/icons/contact/1.png' %}" alt="image">
              </div>
              <h4 class="title">Location</h4>
            </div>
            <ul class="contact-item-list">
              <li>4517 Washington Ave. Manchester, Kentucky 39495</li>
              <li>6391 Elgin St. Celina, Delaware 10299</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-item">
            <div class="top">
              <div class="icon">
                <img src="{% static 'assets/images/icons/contact/2.png' %}" alt="image">
              </div>
              <h4 class="title">Make a call</h4>
            </div>
            <ul class="contact-item-list">
              <li>+123 456 789 </li>
              <li>+254 564 3215</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="contact-item">
            <div class="top">
              <div class="icon">
                <img src="{% static 'assets/images/icons/contact/3.png' %}" alt="image">
              </div>
              <h4 class="title">Mail</h4>
            </div>
            <ul class="contact-item-list">
              <li>contact.info.fmland@gmail.com</li>
              <li>info.fmlanf124@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact info section end -->

  <!-- contact section start -->
  <section class="pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-top">
            <span class="top-title">Contact</span>
            <h2 class="section-title">Write A Comments</h2>
          </div>
        </div>
      </div><!-- row end -->
      <div class="row gy-5">
        <div class="col-lg-6">
          <form class="row gy-4 contact-form">
            <div class="col-md-6">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-6">
              <input type="tel" id="phone" name="phone" class="form-control" placeholder="Phone">
            </div>
            <div class="col-md-6">
              <input type="text" id="company" name="company" class="form-control" placeholder="Company">
            </div>
            <div class="col-lg-12">
              <textarea id="message" name="message" cols="30" rows="10" class="form-control textarea-md"
                placeholder="Write a comments"></textarea>
            </div>
            <div class="col-lg-12 text-center mt-lg-5 mt-4">
              <button type="submit" id="contact_form_submit" class="btn btn-main">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7499.484785459639!2d-122.42760422031482!3d37.7866430027955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1675184241076!5m2!1sen!2sbd"
              allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact section end -->

</main><!-- site-body end -->

{% endblock content %}