{% extends "base.html" %}
{% load static %}
{% block content %}
{%load static%}
<main class="site-body">
    <section class="pt-120 pb-120 section-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-top">
              <h2 class="section-title">Thank you for subscribing.</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{% endblock content %}


